<html>
    <head>
        <title> About Pages</title>
        </head>
    <body>
         <h1>About Page</h1>
         <ul>
             <li><%= link_to 'Home', root_path %></li>
             <li><%= link_to 'Alpha Blog', articles_path %></li>
         </ul>
         <footer>Joaquim Copyright 2016</footer>
    </body>
   
</html>