<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="www.the6lord.com">The Complete solution to your gear</a>
            by<a href="www.google.com">Joaquim</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
                
            </ul>
        </nav>
        
    </footer>

</div>